<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width,initial-scale=1.0">
  <title> SITA - Contact </title>
  <% include header.html %>
 
 <div class="navbar ">
  <div class="navbar-inner">
 
    <ul class="nav">
     	<li  id="index"><a href="/">SITA</a></li>     
    </ul>

   <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/sita">What is SITA?</a></li>
        <li class="active"><a href="/contact">Contact</a></li>
	</ul>
</div>
</div>
</head>

<body>
	<div class"container-fluid">
     <div class="row-fluid" >
   <div class="span3 ">
   <div class="well">
      <div class="thumbnail">
         <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn2/t1.0-9/1461804_636220979734352_1677453171_n.jpg" width="5000" height="400"
         alt="Generic placeholder thumbnail">
      </div>
      <div class="caption">
         <h3 align="center">
Sriharsha M</h3>
         <p align="center">
Works at D. E. Shaw Group</p>
        
      </div>
	  </div>
	  </div>
	   <div class="span3 ">
   <div class="well">
      <div class="thumbnail">
         <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-frc1/t1.0-9/1962717_445674965565611_1226873067_n.jpg" width="400" height="400"
         alt="Generic placeholder thumbnail">
      </div>
      <div class="caption">
         <h3 align="center">Saurav Kumar</h3>
         <p align="center">Works at IIT Kanpur</p>
        
      </div>
	  </div>
	  </div>
	   <div class="span3">
   <div class="well">
      <div class="thumbnail">
         <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn1/t1.0-9/1959497_645016235576398_6048625178673688749_n.jpg" width="400" height="400"
         alt="Generic placeholder thumbnail">
      </div>
      <div class="caption">
         <h3 align="center">Rohit Anurag</h3>
		 <p align="center">Works at IIT Kanpur</p>
        
      </div>
	  </div>
	  </div>
	   <div class="span3 ">
   <div class="well">
      <div class="thumbnail">
         <img src="https://scontent-b-dfw.xx.fbcdn.net/hphotos-frc3/t1.0-9/10306624_10152074350051837_7628979429131487838_n.jpg" width="400" height="400"
         alt="Generic placeholder thumbnail">
      </div>
      <div class="caption">
         <h3 align="center">Ashish Makhani</h3>
         <p align="center">Works at Intel</p>
        
      </div>
	  </div>
	  </div>
   </div>
   
   </div>
</body>
</html>
