<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width,initial-scale=1.0">
  <title> SITA - School Infrastructure project %>
  </title>
  <% include header.html %>
  <link rel="stylesheet" href="/css/school.css">
  <link
</head>
<body>
 
 <div class="navbar ">
  <div class="navbar-inner">
 
    <ul class="nav">
     	<li  id="index"><a href="/home">SITA</a></li>     
    </ul>

   <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/sita">What is SITA?</a>
        <li><a href="/contact">Contact</a></li>
	</ul>
</div>
</div>
  
 <div class="container-fluid">
<div class="row-fluid">
<div class="span12">
<h1 align="center">What is SITA?</h1>
<br>
  <div class="well">
      <p>The <b>Right to Education (RtE) </b>Act 2009 mandates certain infrastructure norms for each school. Tracking the implementation of building school infrastructure as per norms, their maintenance, and feedback from various stakeholders to the Government authorities, and timely action, all on a large scale is a challenge, which American India Foundation is trying to resolve. The Government of India (GOI) passed the Right to Education (RTE) Act in 2009, legislating free and compulsory education for all children between 6-14 years of age. The RTE Act makes specific provisions for parents and local communities to play a role in shaping the school through School Management Committees and School Development Plans. The Act mandates the provision of basic school infrastructure like classroom for every teacher, compound wall, ramps, clean and functional toilets, drinking water facilities etc.<br><br>

Though there has been progress in improving school infrastructure, and the District Information System for Education (DISE) provides data on school infrastructure, such information is collected annually, and can be erroneous. Data not provided in a timely manner prevents action being taken on improvement or maintenance of infrastructure.
The data available with DISE is the starting point for planning school improvement, and hence critical to the success of school development and RTE implementation. The data being collected currently for a few critical facilities like toilets, drinking water etc. is in the form of a Yes or a No, i.e. whether they exist or not. There is no data being collected on a regular basis that reflects the maintenance and usage of such facilities.
While there is much scope for improvement in data collection and verification of school infrastructure indicators, the Act also envisages better participation of communities in the management of the schools. Each school is to be managed by a School Management Committee (SMC) that has parents as 75% of its members. But school improvement would require not just a few token members attending meetings, but a larger level of participation and higher degree of ownership from the village community and urban citizens.<br><br>


<h4>Deliverables</h4>
<ul>
<li>A mobile-based application that will allow stakeholders (SMC members, NGO staff, Government officials) to track the status of infrastructure facilities in schools, like toilets, drinking water, barrier-free access etc., and provide feedback on their maintenance. </li>
<li>This GPS enabled application will allow users to upload the photographs of the ground reality, and enter the status of the infrastructure from a list of available parameters. </li>
 <li>Information will automatically be uploaded to a website that will show updates for each school on a map, and generate heat-maps showing the status, and improvement, of school infrastructure across a state.
 </li>
<ul>

      </p>  
      </div>
    </div>
      
    </div>

</script>  
</head>  
<body>  